<html html>
<html lang="PT-br"
<head>
    <meta charset="UTF-8">
    <title>Receitas</title>
    <link rel="stylesheet" href="/static/site_receita4.css">
</head>

<div class="header">
    <h1>SaborTech</h1>
    <div class="menu">
<!--        {% for ingredientes in ingrediente%}-->
        <div>
            <a href="http://localhost:63342/site_receita/templates/site_receita.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Receitas</strong></a>
            <a href="http://localhost:63342/site_receita/templates/site_receita4.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Ingredientes</strong></a>
        </div>
<!--        {% endfor %}-->
    </div>
</div>
<h1>Ingredientes</h1>

<table>
    <thead>
    <!-- tr define uma linha -->
    <tr>
        <th>Ingrediente</th>
        <th>Unidade Base</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <!-- td define uma célula -->
        <td>Carne Suína</td>
        <td>Gramas</td>
    </tr>

    <tr>
        <td>Sal Grosso</td>
        <td>Gramas</td>
    </tr>

    <tr>
        <td>Vinagre</td>
        <td>Mililitro</td>
    </tr>
    <tr>
        <td>Óleo</td>
        <td>Mililitro</td>
    </tr>
    <tr>
        <td>Bicarbonato de Sódio</td>
        <td>Gramas</td>
    </tr>

    </tbody>
</table>
<div>
    <a href="http://localhost:63342/site_receita/templates/site_receita5.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Adicionar
        Ingrediente</strong></a>

</div>
</body>
</html>