<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SaborTech</title>
    <link rel="stylesheet" href="../static/site_receita.css">
</head>
<body>
<div class="header">
    <h1>SaborTech</h1>
    <ul class="menu">
        <a href="http://localhost:63342/site_receita/templates/site_receita.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Receitas</strong></a>
        <a href="http://localhost:63342/site_receita/templates/site_receita4.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Ingredientes</strong></a>
    </ul>
</div>

<div class="receitas">
    {% for receita in receitas%}
    <div>

        <a href="http://localhost:63342/site_receita/templates/site_receita2.html?_ijt=o31587dicm6ctf7orreafqq48c">
            <strong>{{receita.nome}}</strong></a>
            <div>{{receita.dificuldade}}</div>
        <br><br>
        <img src="/static/nhoque.jpeg" height="180" width="220"/>

    </div>
 {% endfor %}

    <div>
        <a href="http://localhost:63342/site_receita/templates/site_receita3.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Adicionar
            Receita</strong></a> <br><br>
        <img src="../static/7043658.png" height="100" width="100"/>
    </div>
</div>

</body>
</html>