<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SaborTech5</title>
    <link rel="stylesheet" href="../static/site_receita5.css">
</head>
<body>
<div class="header">
    <h1>SaborTech</h1>
    <ul class="menu">
        <a href="http://localhost:63342/site_receita/templates/site_receita.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Receitas</strong></a>
        <a href="http://localhost:63342/site_receita/templates/site_receita4.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Ingredientes</strong></a>
    </ul>
</div>

<form>
    <label for="input_nome"><strong>Nome do Ingrediente:</strong></label><br>
    <input id="input_nome" type="text" placeholder="" required><br><br>

    <label for="input_email"><strong>Unidade Base:</strong></label><br>
    <input id="input_email" type="text" placeholder="" required><br><br>

    <button type="submit">Salvar</button>
    <button type="reset">Limpar</button>
</form>
</body>
</html>