<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SaborTech2</title>
    <link rel="stylesheet" href="../Static/site_receita2.css">
</head>
<body>
<div class="header">
    <h1>SaborTech</h1>
    <ul class="menu">
        <a href="http://localhost:63342/site_receita/templates/site_receita.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Receitas</strong></a>
        <a href="http://localhost:63342/site_receita/templates/site_receita4.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Ingredientes</strong></a>
    </ul>
</div>
<div class="receitas">
    <div>
        <p><strong>Torresmo</strong></p>
        <img src="../Static/images (2).jpg" height="180" width="220"/>
    </div>
    <div>
        <strong>Ingredientes</strong>
        1 kg de torresmo em cubos (toucinho ou panceta)<br>
        ½ copo de óleo vegetal.<br>
        Alho picado.<br>
        200 ml de cachaça.<br>
        Sal a gosto.
    </div>
    <div>
        <strong>Preparo</strong>
        Corte a barriga do porco em tiras com 1-2 cm de espessura e 3 cm de largura.<br>
        Tempere o torresmo com sal, alho e cachaça.<br>
        Em seguida, esquente uma panela com o óleo.<br>
        Mexa de vez em quando com uma colher de pau para evitar que o torresmo grude no outro.<br>
        Leve à geladeira para esfriar e reserve a gordura.<br>
        <strong>Nível:</strong>
        Médio
    </div>
</div>

</body>
</html>