<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SaborTech3</title>
    <link rel="stylesheet" href="../Static/site_receita3.css">
</head>
<body>
<div class="header">
    <h1>SaborTech</h1>
    <ul class="menu">
        <a href="http://localhost:63342/site_receita/templates/site_receita.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Receitas</strong></a>
        <a href="http://localhost:63342/site_receita/templates/site_receita4.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Ingredientes</strong></a>
    </ul>
</div>
<form>
    <label for="input_nome" <strong>Nome da Receita:</strong></label><br>
    <input id="input_nome" type="text" placeholder="" required><br><br>

    <label for="input_email"><strong>Modo de Preparo:</strong></label><br>
    <input id="input_email" type="text" placeholder="" required><br><br>

    <label for="input_senha"><strong>Tempo de Preparo:</strong>:</label><br>
    <input id="input_senha" type="text" required>
    <br><br>

    <label for="text_descricao"><strong>Ingredientes:</strong></label><br>
    <textarea id="text_descricao" cols="50" rows="10"></textarea>
    <br><br>

    <label for="text_descricao"><strong>Descrição:</strong></label><br>
    <textarea id="text_descricao" cols="50" rows="10"></textarea>
    <br><br>

    <label for="menu_dificuldade">Nível de Dificuldade</label>
    <select id="menu_dificuldade">
        <optgroup>
            <option>Fácil</option>
            <option>Médio</option>
            <option>Difícil</option>
        </optgroup>
    </select>

    <br><br>

    <button type="submit">Salvar</button>
    <button type="reset">Apagar</button>
</form>

</body>
</html>