<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SaborTech2</title>
    <link rel="stylesheet" href="/static/site_receita2.css">
</head>
<body>
<div class="header">
    <h1>SaborTech</h1>
    <ul class="menu">
        <a href="http://localhost:63342/site_receita/templates/site_receita.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Receitas</strong></a>
        <a href="http://localhost:63342/site_receita/templates/site_receita4.html?_ijt=o31587dicm6ctf7orreafqq48c"><strong>Ingredientes</strong></a>
    </ul>
</div>
<div class="receitas">
    {% for receita in receitas%}
    <div>
        <h1>{{receita.nome}}</h1>
    </div>
{%endfor%}

</div>

</body>
</html>